.headerborder {
    background-color: rgb(43,43,43);
    height: 63px;
    width: 100%;
    margin-top: -1%;
    margin-left: -8px;
    position: absolute;
}
.hamburgersymbol {
    width: 30px;
    height: 22.4px;
    margin-top: 8px;
    margin-left: 31px;
    cursor: pointer;
    position: absolute;
}
.daddygo {
    position: absolute;
    cursor: pointer;
    height: 45px;
    width: 158px;
    margin-left: 70px;
    margin-top: 6px;
}
.SearchBox>.Typethe {
    position: absolute;
    margin-top: 66px;
    margin-left: 37px;
    height: 50px;
    width: 392px;
    border: 5;
    box-sizing: border-box;
    border-radius: 0px;
    background-color: rgb(235,235,235);
    cursor: text;
    border-color: rgb(235,235,235);
}
.SearchBox>.Typethe::part {
    border-radius: none;
    border-color: rgb(0, 136, 255);
}
.SearchButton {
    position: absolute;
    margin-left: 429px;
    margin-top: 65px;
    cursor: context-menu;
}
.SearchButtonimage {
    height: 52px;
    width: 92px;
    position: absolute;
}
.SearchButtonimage:hover {
    background-color:#00838C ;
}
.Need {
    width: 100%;
    height: 90px;
    margin-top: 161px;
    margin-left: -8px;
    background-color: rgb(245,247,248);
    position: absolute;
}
.Needhelp {
    position: absolute;
    margin-top: 31px;
    margin-left: 227px;
    font-size: 21px;
    font-weight: 549;
    font-family: Arial, Helvetica, sans-serif;
}
.Offer {
    background-color: rgb(43,43,43);
    height: 51px;
    width: 100%;
    position: absolute;
    margin-left: -10px;
    margin-top: 250px;
}
.Offersimage {
    position: absolute;
    margin-left: 38px;
    margin-top: 6px;
    width: 39px;
    height: 33px;
    cursor: pointer;
}
.Greaterthan {
    width: 30px;
    height: 35px;
    margin-left: 79px;
    margin-top: 9px;
    position: absolute;
}
.Offers {
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-top: 18px;
    margin-left: 114px;
    position: absolute;
}
.bottom-black {
    background-color: rgb(17,17,17);
    height: 810px;
    width: 100%;
    margin-left: -10px;
    margin-top: 300px;
    position: absolute;
}

.bottom-black>.we-love>h1 {
    margin-top: 25px;
    margin-left: 71px;
    position: absolute;
    color: rgb(68,68,68);
    font-size: 20px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

.bottom-black>.image>img {
    height: 68px;
    width: 37.3%;
    position: absolute;
    margin-top: 40px;
    margin-left: 62px;
}

.bottom-black>hr {
    background-color: rgb(255, 255, 255);
    margin-top: 102px;
    width: 100%;
    position: absolute;
} 

.bottom-black>.column1 {
    width: 180px;
    height: 432px;
    position: absolute;
    text-align: left;
    color: white;
    font-weight: 300;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 114px;
    margin-left: 50px;
    border: none;
    cursor: text;
    line-height: 22px;
}
.AboutUs:hover, .Annual:hover, .Careers:hover, .ContactUs:hover, .Corporate:hover, .DaddyBlog:hover, .Investor:hover, .LegalDaddy:hover, .Newsroom:hover, .TrustCenter:hover {
    text-decoration: underline;
    cursor: pointer;
}
.bottom-black>.column2 {
    height: 204px;
    position: absolute;
    text-align: left;
    color: white;
    font-weight: 300;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 114px;
    margin-left: 286px;
    border: none;
    cursor: text;
    line-height: 22px;
}
.Product:hover, .Community:hover, .Abuse:hover, .Resources:hover {
    text-decoration: underline;
    cursor: pointer;
}
.bottom-black>.column3 {
    height: 366px;
    text-align: left;
    color: white;
    font-weight: 300;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 114px;
    margin-left: 438px;
    border: none;
    position: absolute;
    cursor: text;
    line-height: 22px;
}
.Webmail:hover, .WHOIS:hover, .ICANN:hover, .Designers:hover, .Redeem:hover, .Product:hover, .Customer:hover, .Business:hover {
    text-decoration: underline;
    cursor: pointer;
}
.bottom-black>.column4 {
    height: 143px;
    text-align: left;
    color: white;
    font-weight: 300;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 114px;
    margin-left: 645px;
    border: none;
    position: absolute;
    cursor: text;
    line-height: 22px;
}
.Affiliates:hover, .Reseller:hover, .GoDaddyPro:hover{
    text-decoration: underline;
    cursor: pointer;
}
.bottom-black>.column5 {
    height: 171px;
    text-align: left;
    color: white;
    font-weight: 300;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 114px;
    margin-left: 828px;
    border: none;
    position: absolute;
    cursor: text;
    line-height: 22px;
}
.MyProducts:hover, .Renewals:hover, .Create:hover {
    text-decoration: underline;
    cursor: pointer;
}
.bottom-black>.column6 {
    height: 284px;
    text-align: left;
    color: white;
    font-weight: 300;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 114px;
    margin-left: 990px;
    border: none;
    position: absolute;
    cursor: text;
    line-height: 22px;
}
.Buy:hover, .Websites:hover, .Word:hover, .Host:hover, .WebSecure:hover, .Email:hover {
    text-decoration: underline;
    cursor: pointer;
}
.icons>.lastdaddy {
    margin-top: 555px;
    width: 44%;
    position: absolute;
    cursor: pointer;
}
.icons>.firsticon>i {
    margin-top: 579px;
    margin-left: 981px;
    color: white;
    position: absolute;
}
.icons>.secondicon>i {
    margin-top: 579px;
    margin-left: 1022px;
    color: white;
    position: absolute;
}
.icons>.thirdicon>i {
    margin-top: 579px;
    margin-left: 1057px;
    color: white;
    position: absolute;
}
a:visited {
    text-decoration: none;
    color: white;
}
.bottom-black>.lasthrline>hr {
    margin-top: 620px;
    width: 100%;
    position: absolute;
    background-color: rgb(255, 255, 255);
}
.bottom-black>.Copyright {
    position: absolute;
    margin-left: 47px;
    margin-top: 641px;
    color: white;
    font-size: 12.8px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 18px;
    cursor: context-menu;
}
.bottom-black>.Use {
    position: absolute;
    margin-top: 700px;
    color: white;
    margin-left: 47px;
    cursor: context-menu;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12.2px;
    line-height: 18px;
    font-weight: bold;
}
.bottom-black>.Use>.Universal {
    text-decoration: none;
    color: white;
    font-weight: bold;
    
}
.bottom-black>.Legal, .Privacy, .Cookies {
    position: absolute;
    color: white;
    font-size: 12.1px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 642.4px;
}
.bottom-black>.Legal:hover, .Privacy:hover, .Cookies:hover {
    text-decoration: underline;
    cursor: pointer;
}
.bottom-black>.Legal {
    margin-left: 884px;
}
.bottom-black>.Privacy {
    margin-left: 935px;
}
.bottom-black>.Cookies {
    margin-left: 1031px;
}